* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 0px 40px;
    gap: 30px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px 0px;
}
.card {
    width: 400px;
    height: 100%;
    border: 1px solid rgba(119, 136, 153, 0.61);
}
.image {
    width: 100%;
    height: 250px;
    background-color: tomato;
    overflow: hidden;
}
img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    transition: all ease-in-out 300ms;
}

img:hover {
    transform: scale(1.1);
}

h2, p, span , button{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 20px;
}

h2 {
    font-size: 1.3rem;
}
 p {
    font-size: 1.1rem;
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
}

.btn {
    font-size: 1.2rem;
    padding: 8px;
    border: 1px solid yellowgreen;
    background: yellowgreen;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:active {
    background: rgb(126, 168, 42)
    ;
}
.amount {
    display: flex;
    justify-content: space-between;
}
h3 {
    margin: 20px 0px 20px 30px;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-weight: lighter;
}

@media (min-width: 320px) and (max-width: 425px) {
    h1 {
        font-size: 2rem;
        width: 100%;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
        padding: 0px 20px;
        gap: 30px;
        margin-bottom: 30px;
    }
    .card {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(119, 136, 153, 0.61);
    }
    .image {
        width: 100%;
        height: 250px;
        background-color: tomato;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 250px;
        object-fit:cover;
        transition: all ease-in-out 300ms;
    }
    h2, p, span , button{
        font-family: 'Source Sans Pro', sans-serif;
        margin: 10px 20px;
    }
    h2 {
        font-size: 1.2rem;
    }
     p {
        font-size: 1rem;
    }
    
    .price{
        font-size: 1.4rem;
        font-weight: 600;
    }
    h3 {
        margin: 10px 0px 10px 30px;
        font-size: 1.2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
        font-weight: lighter;
    }
}

@media (min-width: 426px ) and (max-width: 1280px) {
    h1 {
        font-size: 2rem;
        width: 100%;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 0px 20px;
        gap: 30px;
        margin-bottom: 30px;
    }
    .card {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(119, 136, 153, 0.61);
    }
    .image {
        width: 100%;
        height: 250px;
        background-color: tomato;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 250px;
        object-fit:cover;
        transition: all ease-in-out 300ms;
    }
    h2, p, span , button{
        font-family: 'Source Sans Pro', sans-serif;
        margin: 10px 20px;
    }
    h2 {
        font-size: 1.2rem;
    }
     p {
        font-size: 1rem;
    }
    
    .price{
        font-size: 1.4rem;
        font-weight: 600;
    }
    h3 {
        margin: 10px 0px 10px 30px;
        font-size: 1.2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
        font-weight: lighter;
    }
}


